.container {
  margin: auto;
  max-width: 1000px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 1.25rem;
  transition: transform 0.5s;
  background-color: turquoise;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav-links :hover {
  /* background-color: yellow; */
  transform: scale(1.5);
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: white;
}

.footer {
  position: absolute;
}
